html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: whitesmoke;
  background-color: #242424;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 1.03px;
  line-height: 1em;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, blue, #1da81d, #013220, #32cd32, darkblue);
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100% !important;
}

h2 {
  text-align: center;
  width: 100%;
}

.title {
  font-size: 7rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.subtitle {
  color: gainsboro;
  font-size: 2rem;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p {
  font-size: 1.25rem;
  line-height: 2;
}

.row {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  text-align: center;
}

.col {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 500px;
  text-align: start;
}
.col p {
  padding-left: 1rem;
  letter-spacing: 1px;
}

.btn {
  color: green;
  font-size: 2.5rem;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.4em;
  border: 1px solid #fff;
  padding: 14px 40px;
  border-radius: 3px;
}
.btn:hover {
  background: linear-gradient(darkgreen, green, orange);
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-weight: bolder;
  color: black;
  transition: all 0.5s;
  box-shadow: 6px 8px 12px black;
}

/* Media queries */
@media (max-width: 1130px) {
  .title {
    font-size: 6rem;
  }
  .subtitle {
    font-size: 2rem;
  }
}
@media (max-width: 830px) {
  .title {
    font-size: 4.5rem;
  }
}
@media (max-width: 630px) {
  .row,
  .col {
    max-width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .col p {
    padding-inline: 0.75rem;
    font-size: 1.1rem;
  }

  .title {
    font-size: 2.75rem;
  }
  .subtitle {
    font-size: 1.25rem;
  }
}

@media (min-width: 2000px) {
  .col {
    margin-left: 6%;
  }
}
